@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300&display=swap");
body {
  background-color: #d3eef0;
  font-family: "Lato", sans-serif;
}
.headtext {
    padding: 20px 50px;
}

img {
    padding: 0 50px;
    width: 50%;
}
.headtext2 {
    padding:  0px 300px 0px 50px;
    line-height: 2;
    text-align: justify;
}

.mybt{
    position: absolute;
    right: 50px;
    top: 100px;
    border-color: lightblue;
    height: 40px;
    border-radius: 5px;
    /* top: 10px;    */
}
.pdf {
    width: 10rem;
}