@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300&display=swap");
body {
  background-color: #d3eef0;
  font-family: "Lato", sans-serif;
}

.alert {
    width: 47%;
    display: inline-table;
}
.alert2 {
    /* width: 300px; */
    display: inline;
}
.detail {
    padding: auto;
}